[submodule "specs/qingstor"]
	path = specs/qingstor
	url = https://github.com/yunify/qingstor-api-specs.git
[submodule "Tests/QingStorSDKFeatureTests/Features"]
	path = Tests/QingStorSDKFeatureTests/Features
	url = https://github.com/yunify/qingstor-sdk-test-scenarios.git
